<div class="container">
  <h1>Let's send a text!</h1>
  <div class="row">
    <form method="post" action="<%= notifications_path %>" role="form">
    <div class="col-md-6">
      <div class="form-group">
        <% @users.each do |user| %>
          <% user.phones.each do |phone| %>
            <% id = "number_#{phone.number}" %>
            <%= check_box_tag('number[]', phone.number, nil, id: id) %>
            <%= label_tag id, phone.number %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="message">Message:</label>
        <textarea class="form-control" id="message" name="message" cols="40" rows="4"></textarea>
      </div>
      <button class="btn btn-default"><%= ENV['SMS_FROM'] %> env: <%= Rails.env %> Submit</button>
    </div>
    </form>
  </div>
</div>
