<div class="container">
  <h1>Let's send a text!</h1>
  <div class="row">
    <form method="post" action="<%= notifications_path %>" role="form">
    <div class="col-md-6">
      <div class="form-group">
        <table class="table table-bordered table-hover" >
          <tr>
            <th>Check</th>
            <th>Phone #</th>
            <th>First Name</th>
            <th> Last Name</th>
            <th>Address</th>
          </tr>
        <% @users.each do |user| %>
          <tr> 
          <% phone = user.phones.first %>
          <% address = user.addresses.first %>
          <% id = "number_#{phone.number}" %>
          <td><%= check_box_tag('number[]', phone.number, nil, id: id) %></td>
          <td><%= label_tag id, phone.number %></td>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td>
          <td><%= address.street %></td>
          </tr>
        <% end %>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="sms_message">Message:</label>
        <textarea class="form-control" id="sms_message" name="message" cols="40"
          rows="4" maxlength="160"><%= params[:message] %></textarea>
        <div id="sms_feedback"></div>

      </div>
      <button class="btn btn-primary">Submit</button>
    </div>
    </form>
  </div>
</div>
