<!DOCTYPE html>
<html>
<head>
  <title>Notify</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47565520-2', 'notifytheton.herokuapp.com');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <header class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Waste Alerts</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="mailto:lexington@codeforamerica.org?Subject=WasteAlerts%20Feedback" target="_top">Feedback <span class="glyphicon glyphicon-send"></span></a></li>
        </ul>
      </div>
    </div>
  </header>

  <div class="js-message-zone">
    <% if (flash[:notice]) %>
      <div class="alert alert-warning"><%= flash[:notice] %></div>
    <% end %>
    <% if (flash[:error]) %>
      <div class="alert alert-danger"><%= flash[:error] %></div>
    <% end %>
  </div>

  <%= yield %>

  <div class="container">
    <div class="row">
      <footer>
        <p class="pull-right"><a href="https://github.com/eeeschwartz/notify" target="_blank">Code on Github</a></p>
        <p><a href="http://teambiglex.tumblr.com/" target="_blank">2014 Code for America: Team Lexington</a></p>
      </footer>
    </div>
  </div>
</body>
</html>
