<!DOCTYPE html>
<html>
<head>
  <title>Notify</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Herbie Alerts</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">About</a></li>
          <li><%= link_to 'Citizen', new_notifications_path %></li>
          <li><%= link_to 'Admin', new_notifications_path %></li>
        </ul>
      </div>
    </div>
  </header>

  <% if (flash[:notice]) %>
    <div class="alert alert-warning"><%= flash[:notice] %></div>
  <% end %>
  <% if (flash[:error]) %>
    <div class="alert alert-danger"><%= flash[:error] %></div>
  <% end %>

  <%= yield %>

  <div class="container">
    <footer></footer>
  </div>
</body>
</html>
